@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

body{
   font-family: "Raleway", sans-serif;
}
.font-img {
   font-size: 2em;
}

body {
   font-size: 100%;
}

.ba {
   border-style: solid;
   border-width: 1px;
}

.b--black-10 {
   border-color: rgba(0, 0, 0, .1);
}

.br2 {
   border-radius: .25rem;
}

.br--top {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.db {
   display: block;
}

.dt {
   display: table;
}

.dtc {
   display: table-cell;
}

.lh-copy {
   line-height: 1.5;
}

.mw5 {
   max-width: 16rem;
}

.w-100 {
   width: 100%;
}

.dark-gray {
   color: #4d4d4f;
}

.mid-gray {
   color: #555;
}

.pa2 {
   padding: .5rem;
}

.mt1 {
   margin-top: .25rem;
}

.mt2 {
   margin-top: .5rem;
}

.mv0 {
   margin-top: 0;
   margin-bottom: 0;
}

.mv4 {
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.tr {
   text-align: right;
}

.f5 {
   font-size: 1rem;
}

.f6 {
   font-size: .875rem;
}

.measure {
   max-width: 30em;
}

.center {
   margin-right: auto;
   margin-left: auto;
}

@media screen and (min-width: 30em) {
   .pb3-ns {
      padding-bottom: 1rem;
   }
   .ph3-ns {
      padding-left: 1rem;
      padding-right: 1rem;
   }
   .f4-ns {
      font-size: 1.25rem;
   }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
   .w-50-m {
      width: 50%;
   }
}

@media screen and (min-width: 60em) {
   .w-25-l {
      width: 25%;
   }
}

/* -----------------BUS CARD------------------------- */
.card {
   font: 1em 'Oswald', Helvetica, sans-serif;
   position: relative;
   display: inline-block;
   vertical-align: middle;
   width: 475px;
   height: 270px;
   text-align: left;
   padding: 30px;
   margin-bottom: 50px;
   color: #fff;
   border-radius: 20px;
   box-sizing: border-box;
   background: url('https://img.stpu.com.br/?img=https://s3.amazonaws.com/pu-mgr/default/a0RG000000sG7lVMAS/59b8214de4b04d5b5dc89651.jpg&w=620&h=400') no-repeat 0 0 #141819;
}

.card__title {
   font-size: 30px;
   padding: 60px 0 15px;
   text-align: center;
}

.card__number {
   font-size: 30px;
   padding: 5px 0 15px;
   text-align: center;
}

.card__expiry-date {
   font-size: 14px;
   padding-bottom: 20px;
   text-align: center;
}

.card__owner {
   text-align: left;
}

.card__logo {
   position: absolute;
   width: 100px;
   right: 20px;
   bottom: 20px;
}

.card__strip {
   background: #000;
   height: 50px;
   margin-bottom: 30px;
}

.card__signature {
   float: left;
   width: 65%;
   height: 40px;
   margin-left: 10px;
   background: #999;
}

.card__ccv {
   float: left;
   margin-top: 5px;
   padding: 7px;
   background: #fff;
   color: #111;
   line-height: 1;
}

.card--front {
   font-size: 16px;
   font-family: 'Source Code Pro';
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.card--back {
   padding-left: 0;
   padding-right: 0;
   text-align: left;
}
